.dashboard-content[data-astro-cid-hg752vuv] {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px 20px;
  margin-top: 11rem;
}
.starlink-main[data-astro-cid-hg752vuv] {
  width: 100%;
  padding-top: 0;
}
.starlink-nav[data-astro-cid-hg752vuv] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}
.alerts-summary[data-astro-cid-hg752vuv] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--azul-primario-096);
  border: 1px solid var(--blanco-06);
  border-radius: 12px;
  padding: 16px 24px;
  width: 100%;
}
.summary-text[data-astro-cid-hg752vuv] {
  color: var(--blanco-total);
  font-size: 0.9rem;
  font-weight: 600;
}
.status-active[data-astro-cid-hg752vuv] {
  color: var(--estado-activo);
  margin-left: 5px;
}
.status-ending[data-astro-cid-hg752vuv] {
  color: var(--estado-finalizando);
  margin-left: 5px;
}
.status-inactive[data-astro-cid-hg752vuv] {
  color: var(--estado-inactivo);
  margin-left: 5px;
}
.alerts-count[data-astro-cid-hg752vuv] {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--blanco-total);
  font-size: 0.9rem;
  font-weight: 600;
}
.alert-icon[data-astro-cid-hg752vuv] {
  width: 1.25rem;
  height: 1.25rem;
}
.starlink-header[data-astro-cid-hg752vuv] {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem 0 1rem;
}
.section-title[data-astro-cid-hg752vuv] {
  color: var(--blanco-06);
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
}
.section-title[data-astro-cid-hg752vuv] strong[data-astro-cid-hg752vuv] {
  color: var(--blanco-total);
  font-weight: 700;
}
.total-subs[data-astro-cid-hg752vuv] {
  color: var(--blanco-total);
  font-weight: 600;
  font-size: 1.1rem;
}
.subscriptions-table-container[data-astro-cid-hg752vuv] {
  overflow-x: auto;
  padding-bottom: 20px;
}
.subscriptions-table[data-astro-cid-hg752vuv] {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.subscriptions-table[data-astro-cid-hg752vuv] th[data-astro-cid-hg752vuv] {
  text-align: left;
  color: var(--blanco-08);
  font-size: 0.75rem;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.subscriptions-table[data-astro-cid-hg752vuv] td[data-astro-cid-hg752vuv] {
  background: var(--azul-primario-06);
  padding: 15px 20px;
  color: var(--blanco-total);
  font-size: 0.9rem;
  border-top: 1px solid var(--blanco-02);
  border-bottom: 1px solid var(--blanco-02);
  text-align: left;
  vertical-align: middle;
}
td[data-astro-cid-hg752vuv] p[data-astro-cid-hg752vuv] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.alert-icon-small[data-astro-cid-hg752vuv] {
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  margin-left: 5px;
}
.subscriptions-table[data-astro-cid-hg752vuv]
  td[data-astro-cid-hg752vuv]:first-child {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-left: 1px solid var(--blanco-02);
}
.subscriptions-table[data-astro-cid-hg752vuv]
  td[data-astro-cid-hg752vuv]:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-right: 1px solid var(--blanco-02);
  text-align: right;
  width: 80px;
}
.action-icon[data-astro-cid-hg752vuv] {
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.action-icon[data-astro-cid-hg752vuv]:hover {
  transform: translate(3px);
}
.status-badge[data-astro-cid-hg752vuv] {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 6px 16px;
  border-radius: 50px;
  border: 1px solid var(--blanco-02);
  font-size: 0.8rem;
  font-weight: 600;
  min-width: 120px;
  width: 100%;
  max-width: 140px;
  background: #ffffff08;
}
.dot[data-astro-cid-hg752vuv] {
  width: 18px;
  height: 6px;
  border-radius: 4px;
  display: inline-block;
}
.status-badge[data-astro-cid-hg752vuv].active-badge {
  border-color: var(--blanco-04);
}
.dot[data-astro-cid-hg752vuv].active {
  background-color: var(--estado-activo);
  box-shadow: 0 0 8px var(--estado-activo);
}
.status-badge[data-astro-cid-hg752vuv].ending-badge {
  border-color: var(--blanco-04);
}
.dot[data-astro-cid-hg752vuv].ending {
  background-color: var(--estado-finalizando);
  box-shadow: 0 0 8px var(--estado-finalizando);
}
.status-badge[data-astro-cid-hg752vuv].inactive-badge {
  border-color: var(--blanco-04);
}
.dot[data-astro-cid-hg752vuv].inactive {
  background-color: var(--estado-inactivo);
  box-shadow: 0 0 8px var(--estado-inactivo);
}
@media (width>=940px) {
  .dashboard-content[data-astro-cid-hg752vuv] {
    width: calc(100% - 7.5rem);
    margin: 6.5rem 0 5rem 1rem;
    padding: 0;
  }
}
